<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
        <link href="https://fonts.googleapis.com/css?family=Averia+Sans+Libre:700|Press+Start+2P" rel="stylesheet">
    </head>
    <body>
        
    <div id="landing-header">
 		<h1>Movgle</h1>
		<form action ="/result" method ="GET">
        <input id="searchbar" type = "text" placeholder = "Movie Name" name= "searchitem"> </input>
        <input id="submitbut" type = "submit"></input>
        </form>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>




 </body>
</html>